<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/">dashboard</a>
        </li>
      </ul>

      <ul *ngIf="user" class="nav navbar-nav navbar-right">
        <li><a href="#">Hello {{ user.displayName }}!</a></li>
        <li><a href="#" (click)="logout()">Logout</a></li>
      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
