<!-- <div class="row">
  <div *ngFor="let category of categories" class="col-md-3 source">
    <span class="badge badge-primary">{{ category }}</span>
  </div>
</div> -->

<h1 class="my-4 text-center text-lg-left">News Sources</h1>

<div class="row text-center text-lg-left">
  <div *ngFor="let source of sources"
    class="col-lg-3 col-md-4 col-xs-6" >
    <a routerLink="/articles/{{source.id}}/{{source.sortBysAvailable[0]}}"  title="{{ source.name }}" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="https://icons.better-idea.org/icon?url={{ source.url }}&amp;size=70..120..200" alt="">
    </a>
  </div>
</div>


<!-- <div class="row">
  <div *ngFor="let source of sources" class="col-md-3 source">
    <a routerLink="/articles/{{source.id}}/{{source.sortBysAvailable[0]}}"  title="{{ source.name }}">
      <img alt="{{ source.name }}" class="icon"
        height="70px" src="https://icons.better-idea.org/icon?url={{ source.url }}&amp;size=70..120..200" />
      <div class="name" title="{{ source.name }}">{{ source.name }}</div>
      <span class="badge badge-primary">{{ source.category }}</span>
      <span class="badge badge-primary">{{ source.category }}</span>
    </a>
  </div>
</div> -->
