<div class="row">
  <div *ngFor="let category of categories" class="col-md-3 source">
    <span class="badge badge-primary">{{ category }}</span>
  </div>
</div>

<div class="row">
  <div *ngFor="let source of sources" class="col-md-3 source">
    <a routerLink="/articles/{{source.id}}/{{source.sortBysAvailable[0]}}"  title="{{ source.name }}">
      <img alt="{{ source.name }}" class="icon"
        height="70px" src="https://icons.better-idea.org/icon?url={{ source.url }}&amp;size=70..120..200" />
      <div class="name" title="{{ source.name }}">{{ source.name }}</div>
      <span class="badge badge-primary">{{ source.category }}</span>
      <span class="badge badge-primary">{{ source.category }}</span>
    </a>
  </div>
</div>
